---

---

<section class="relative overflow-hidden bg-lila-600">
  <div
    class="items-center w-full px-8 pb-12 mx-auto md:px-12 max-w-7xl lg:px-24 lg:pt-24 lg:pb-24"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Text Column -->
      <div class="flex flex-col justify-center">
        <p class="text-2xl lg:text-4xl text-white mb-8 italic">
          Tre av fire bedrifter mener kunstig intelligens vil være viktig for
          fremtidig konkurranseevne. Samtidig mangler 80% av bedrifter
          kompetanse til å bruke AI.
        </p>
        <span class="uppercase tracking-wide font-medium text-white pt-12">
          ⏤ virke medlemsundersøkelse 2024
        </span>
      </div>
      <!-- Image Column -->
      <div class="flex justify-center">
        <img
          src="/images/graphlab-man-14.png"
          alt="GraphLab Logo"
          class="max-w-full h-auto"
        />
      </div>
    </div>
  </div>
</section>
