---
const features = [
  {
    header: "Lav",
    title: "Minimumsimplementering",
    description:
      "Noen bedrifter lar ansatte bruke enkle verktøy som ChatGPT eller Microsoft Copilot for daglige oppgaver, uten å gå noe dypere. Dette gir et minimum av verdi, men gjør at konkurransedyktige bedrifter går glipp av store muligheter for verdiskapning.",
  },

  {
    header: "Medium",
    title: "Interne team",
    description:
      "Andre selskaper oppretter egne innovasjonsteam for å utforske AI-muligheter, men disse teamene sliter ofte med å skape konkrete løsninger med høy avkastning. Kostnaden for slike interne team kan dessuten være høy, uten at de nødvendigvis skaper en betydelig konkurransefordel.",
  },

  {
    header: "Høy",
    title: "Strategisk samarbeid  ",
    description:
      "En mer kostnadseffektiv og konkurransedyktig tilnærming er å inngå strategisk samarbeid med eksterne spesialister som <span class='font-medium text-regent-900'>GraphLab</span>. Våre erfarne team har dyptgående kunnskap innen produktutvikling og AI, og utvikler trygge og verdifulle AI-løsninger som gir høy avkastning til våre samarbeidspartnere.",
  },
];
---

<section>
  <div class="px-8 pt-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32 mb-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-24 gap-12 items-end">
      <div>
        <span class="uppercase tracking-wide font-medium text-regent-600">
          ⏤ kompetansebehov
        </span>
        <p class="mt-16 text-2xl lg:text-4xl text-black">
          ✺ Hvordan sikre din bedrifts kompetansebehov for AI-utvikling
        </p>
      </div>
      <div>
        <p class="text-gray-500 text-xl lg:text-xl tracking-wide text-balance">
          For å utnytte potensialet som ligger i AI kreves det høy teknisk og
          juridisk kompetanse. Utviklingen innenfor AI øker i eksponentiell
          fart. <br /><br />Det er derfor en stor utfordring for mange å ha den
          nødvendige innsikten og kompetansen til å bygge trygge og verdifulle
          AI-løsninger internt.
        </p>
      </div>
    </div>
    <div class="grid gap-12 lg:grid-cols-3 lg:mt-24 mt-12">
      {
        features.map((feature, index) => (
          <div class="p-3">
            <p class="text-regent-500 text-lg text-medium font-mono">
              {String(index + 1).padStart(2, "0")}. {feature.header}
            </p>

            <p class="text-black mt-8 font-medium text-xl">{feature.title}</p>
            <p
              class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide"
              set:html={feature.description}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
