<section class="bg-regent-500 py-24" id="kontakt">
  <div
    class="grid gap-12 lg:gap-0 lg:grid-cols-2 bg-regent-500 items-center lg:divide-x lg:divide-black max-w-7xl m-auto"
  >
    <section class="md:px-12 lg:px-40 2xl:px-24 px-8">
      <div class="overflow-hidden">
        <div class="text-left">
          <div>
            <p class="text-2xl lg:text-4xl text-black mt-12 lg:mt-0 italic">
              Book et møte med en av våre konsulenter for å utforske mulighetene
              for AI i din bedrift.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="relative overflow-hidden md:p-12 lg:p-32 p-8">
      <!-- title: fyll inn -->
      <h2 class="text-2xl lg:text-4xl text-black mt-12 lg:mt-0 italic"></h2>
      <form>
        <div class="space-y-6">
          <div>
            <input
              id="company_name"
              type="text"
              name="company_name"
              placeholder="Din bedrift"
              class="w-full px-3 py-2 bg-regent-500 border border-regent-500 placeholder-black text-xl rounded-lg duration-200 hover:bg-regent-400 hover:border-regent-400 focus:outline-none focus:ring focus:ring-regent-100"
            />
          </div>
          <div class="w-full">
            <input
              id="first_name"
              type="text"
              name="first_name"
              autocomplete="given-name"
              aria-required="true"
              placeholder="Ditt navn"
              class="w-full px-3 py-2 bg-regent-500 border border-regent-500 placeholder-black text-xl rounded-lg duration-200 hover:bg-regent-400 hover:border-regent-400 focus:outline-none focus:ring focus:ring-regent-100"
            />
          </div>
          <div>
            <input
              id="email"
              type="email"
              name="email"
              autocomplete="email"
              aria-required="true"
              placeholder="Din epostadresse (jobb)"
              class="w-full px-3 py-2 bg-regent-500 border border-regent-500 placeholder-black text-xl rounded-lg duration-200 hover:bg-regent-400 hover:border-regent-400 focus:outline-none focus:ring focus:ring-regent-100"
            />
          </div>

          <div>
            <input
              id="primary_role"
              type="text"
              name="primary_role"
              placeholder="Din stilling"
              class="w-full px-3 py-2 bg-regent-500 border border-regent-500 placeholder-black text-xl rounded-lg duration-200 hover:bg-regent-400 hover:border-regent-400 focus:outline-none focus:ring focus:ring-regent-100"
            />
          </div>

          <div class="mb-4">
            <textarea
              rows="4"
              name="message"
              id="message"
              placeholder="Beskjed til oss"
              class="w-full h-28 px-3 py-2 bg-regent-500 border border-regent-500 placeholder-black text-xl rounded-md duration-200 hover:bg-regent-400 hover:border-regent-400 focus:outline-none focus:ring focus:ring-regent-100"
              required></textarea>
          </div>
          <div class="col-span-full">
            <button
              type="submit"
              class="inline-flex items-center lg:text-xl justify-center w-full px-6 py-4 text-center text-black duration-200 bg-white font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100"
            >
              Book et møte
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</section>
